<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        </div class="home-button">
            <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
        <div>
        <a class="navbar-brand" href="{% url 'Lista de Rock' %}">Lista de Rock</a>
        <a class="navbar-brand" href="{% url 'Lista de Pop' %}">Lista de Pop</a>
        <a class="navbar-brand" href="{% url 'Lista de Jazz' %}">Lista de Jazz</a>
        <a class="navbar-brand" href="{% url 'Lista de Tango' %}">Lista de Tango</a>
        <a class="btn btn-primary" href="#signup">Iniciar Sesion</a>
    </div>
</nav>